<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Movie Confirmation</title>
</head>

<body>
	<h1>Movie Entered</h1>
    <strong>Title: </strong><%- title  || 'NONE' %><br>
    <strong>Description: </strong><%- description  || 'NONE' %><br>
    <hr>
    <a href="/">HOME</a>
</body>

</html>
