<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Random Movie</title>
</head>

<body>
	<h1>Random Movie</h1>
    <%- table %>
    <br>
    <a href="/">HOME</a>
</body>

</html>