<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Enter To Watch Movie</title>
</head>

<body>
	<h1>Enter To Watch Movie</h1>
	<form action=<%= link %> method="post">
		<fieldset>            
			<strong>Movie Title: </strong><input type="text" name="title"/><br>
            <strong>Description:</strong><br>
			<textarea rows="5" cols="80" name="description"></textarea>
		</fieldset>

		<br>
		<input type="reset" />
		<input type="submit" value="Submit Movie"/>
        <hr>
        <a href="/">HOME</a>
	</form>
</body>

</html>
