<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Final Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <style>
        h1, h3, ul
        {
            font-family: Ubuntu; /* Google's font */
        }
    </style>
</head>

<body>
	<h1>Welcome to Final Project: Movie Database</h1>

    <h3>Main Menu</h3>
    <ul>
        <li style="color: blue;">To enter a movie you have watched select <a href="/enterWatchedMovie">Enter Watched Movie</a></li>
        <li style="color: blue;">To view movies you have watched select <a href="/viewWatchedMovies">View Watched Movies</a></li><br>
        <li>To enter a movie into your to-watch list select <a href="/enterToWatchMovie">Enter To-Watch Movie</a></li>
        <li>To view your to-watch list select <a href="/viewToWatchMovies">View To-Watch Movies</a></li><br>
        <li style="color: blue;">To suggest 20 random movies select (using API) <a href="/suggestRandomMovie">Suggest 20 Random Movies</a></li>
        <li style="color: blue;">To remove all movies from all databases select <a href="/remove">Remove All Movies</a></li>
    </ul>
    <hr>
</body>

</html>
